
.video-player {
  position: relative;
  width: 100%;
  min-width: 450px;
  max-width: 640px;
  height: auto;
  margin: 0 auto;
}

.video-player video {
  width: 100%;
  height: auto;
}

.controls {
  position: relative;
  width: auto;
  margin-top:-38px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-pause-btn {
  position: fixed;
  margin-left: 27px;
  transform: translateX(-50%);
  background: none;
  color: #fff;
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.play-pause-btn:hover {
  background-color: #000000;
}

.play-pause-btn.playing {
  background-color: #e74c3c;
}

.play-pause-btn.playing:hover {
  background-color: #c0392b;
}

.progress {
  position: absolute;
  height: 24px;
  width: 500px;
  border: 1px solid #fff;
}


 progress::-webkit-progress-value {
  background-color: #42a3f1;
} 
progress::-webkit-progress-bar {
  background-color: rgb(205, 228, 235);
} 

.progress-bar {
  position: fixed;
  float: left;
  margin-left: 160px;
  background-color: rgb(205, 228, 235);
}


.fullscreen-btn {
  position: absolute;
  right: 0;
  background-color: #272433;
  color: #fff;
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.fullscreen-btn:hover {
  color: #e7e7e7;
}

.volume-icon {
position: relative;
left: 0;
margin-left: 65px;
margin-top: -2px;
width: 26px;
height: 10px;
background: none;
position: relative;
}

.volume-slider {
  position: fixed;
  float: left;
  margin-left: 80px;
width:5%;
height: 10px;
outline: none;
border-radius: 3px;
cursor: pointer;
}

.volume-slider :hover {
 opacity: 0.5;
}








.volume-icon .speaker {
position: absolute;
top: 3px;
left: 1px;
width: 3px;
height: 7px;
background-color: #fff;
}

.volume-icon:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
border-top: 7px solid transparent;
border-bottom: 5px solid transparent;
border-right: 10px solid #fff;
}

.timeslot {
position: fixed;
float: left;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;

}

.current-time {
position: relative;
float: right;
margin-right: 170px;

}
.duration-time {
position: fixed;
margin-left: 440px;
}






